<div class="admin-panel">
  <h1>Admin Panel</h1>
  <div class="admin-actions">
    <h2>Manage Products</h2>
    <button (click)="navigateToProductList()">View Products</button>
    <button (click)="navigateToAddProduct()">Add New Product</button>
    
    <h2>Manage Users</h2>
    <button (click)="navigateToUserList()">View Users</button>
    <button (click)="navigateToAddUser()">Add New User</button>
    
    <h2>Manage Orders</h2>
    <button (click)="navigateToOrderList()">View Orders</button>
  </div>
</div>